.yankee_generator_config.json
.DS_Store
__pycache__/
chromedriver
DEVILS_MIGRATION_GUIDE.md

# Node/JavaScript
node_modules/
coverage/

# Python
.venv/
.pytest_cache/
*.pyc
*.pyo
.coverage

# Tools & Editors
.vscode/
.pyre/

# Temp & Backups
*.bak
*.swp
.pyre_configuration
.vscode