.yankee_generator_config.json
.DS_Store
__pycache__/
chromedriver
DEVILS_MIGRATION_GUIDE.md

# Python
.venv/
.pytest_cache/
*.pyc
*.pyo

# Tools & Editors
.vscode/
.pyre/

# Temp & Backups
*.bak
*.swp
.pyre_configuration
.vscode