.yankee_generator_config.json
.DS_Store
__pycache__/
chromedriver
DEVILS_MIGRATION_GUIDE.md

# Node/JavaScript
node_modules/
coverage/

# Python
.venv/
.pytest_cache/
*.pyc
*.pyo
.coverage

# Tools & Editors
.vscode/
.pyre/

# Temp & Backups
*.bak
*.swp
.pyre_configuration
temp_player_images/

# Gemini
.gemini/
.superpowers/

# Firebase/Firestore Logs
*-debug.log
firebase-debug-*.log
firestore-debug-*.log

#Github App credentials
gha-creds-*.json
.worktrees/
